@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
}

html,
body {
  padding: 0;
  scroll-behavior: smooth;
  margin: 0;
  overflow-x: hidden;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
.bg {
  background-color: #8ec5fc;
  background-image: linear-gradient(62deg, #8ec5fc 0%, #e0c3fc 100%);
}
.pr {
  background: linear-gradient(
    90deg,
    rgba(116, 169, 245, 1) 0%,
    rgba(231, 194, 249, 1) 65%
  );
  background-clip: text;
}
.flickity-page-dot {
  background: gray;
}
.flickity-viewport {
  width: inherit;
}
